* {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}  
body{
    background: url('./8.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}